*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:   linear-gradient(0, rgba(0, 0, 0, 0.75),rgba(35, 35, 35, 0.5)),
    url(https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
   padding-top: 250px;
   object-fit: contain;
}
.exam1 {
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  padding-inline-start: 20px;
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-inline-end: 20px;

  font-size: 25px;

}
.exam2 {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    padding: 30px;
    background-color: rgb(47, 47, 185);
    color: white;
    padding-top: 50px;
    margin-bottom: 5px;
    font-size: 30px; 
}
.bottom{
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  padding: 30px;
  padding-top: 50px;
  margin-bottom: 5px;
  display: flex ;

}
a:hover {
  background-color: yellow;
}
.column1{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.column2{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.column3{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}  
.container{
display: flex;
margin-top: 30px;
padding-left: 20px;
}
.img1{
width: 250px;
height: 250px;
border-radius: 10px;
margin: 10px 0px 50px 200px;
}
.box__left{
flex-basis: 40%;
font-size: 25px;
}
.box__left div{
font-size: 30px;
color: blue;
margin-left: 100px;
padding: 20px 50px;
}
.box__right{
flex-basis: 60%;
font-size: 16px;
padding-top: 50px;
padding-left: 50px;
padding-right: 20px;
} 
.img2{
    width: 450px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
   }


 
    