body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
h1
{
    width: 90%;
    margin: auto;
    padding: 50px 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: capitalize;
}
#containerClothing
{
    display: grid;
    grid-gap: 70px 50px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
  
   
}
#box 
{
    width: 100%;
    background-color: white;
    align-content: center;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
}
#box:hover
{
    box-shadow: 1px 6px 3px 0 rgb(208, 222, 117);
}
#containerClothing img
{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

#details
{
    padding: 0 15px;
    text-transform: capitalize;
}
#box a 
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
h3
{
    font-size: 16px;
}
h4
{
    font-weight: 100;
}
h2
{
    color: rgb(3, 94, 94);
}

.badge--sale {
    margin: 20px 1000px 100px 50px;
}
.badge {
    background-color:orange;
    position: absolute;
}
.badge span {
    height: 55px;
    width: 55px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
   border-radius: 50%;
    font-size: 13px;
    color: #fff;
}
